/* Variables */
/* Mixins */
.defaultText {
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}
.sidebarText {
  color: #2980b9;
}
.navText {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}
.contentStyling {
  width: 80%;
  background: white;
  margin: 20px 10%;
  float: left;
}
/* General Styling */
body {
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  background-image: url("../images/background.jpg");
  background-size: 100%;
}
h1,
h3 {
  color: #444444;
}
h1 {
  margin-top: 0;
  font-size: 20px;
}
h2 {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 20px;
}
p {
  font-size: 18px;
  color: #444444;
}
a {
  color: #bbdefc;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.leftSidebar > div,
.mainContent > div {
  padding: 10px;
}
.borderBottom {
  border-bottom: 1px solid #dddddd;
}
/* Header */
.header {
  width: 100%;
  margin-top: -16px;
}
.header a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}
.header ul {
  list-style: none;
  background: #b62537;
  margin: 0;
  padding: 0 0 0 50px;
}
.header li {
  display: inline-block;
}
.header li a {
  display: block;
  padding: 22px 15px 21px;
  margin-right: -8px;
}
.header li:hover > a {
  background: #3d4751;
  border-bottom: 2px solid #3399ff;
  text-decoration: none;
}
.header .dropdown {
  position: relative;
}
.header .dropdown ul {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  background: #3d4751;
  width: 200px;
  padding: 0;
}
.header .dropdown ul li {
  width: 160px;
  margin: 5px 25px 0px 15px;
}
.header .dropdown ul li a {
  padding: 5px 20px 5px 0px;
  margin-right: 0px;
  width: 100%;
}
.header .dropdown ul li:hover {
  background: #e64d3c;
  border-bottom: none;
}
.header .dropdown ul li:hover > a {
  background: transparent;
  border-bottom: none;
}
.header .selected a {
  background: #3d4751;
  border-bottom: 2px solid #3399ff;
}
.header .dropdown:hover ul {
  display: block;
}
/* Left Sidebar */
.leftSidebar {
  width: 20%;
  float: left;
  padding: 3% 0 3% 3%;
}
.leftSidebar .logo {
  width: 90%;
  height: 150px;
}
.leftSidebar .socialMediaIcon {
  width: 70px;
  height: 70px;
  display: inline-block;
  padding: 30px 15px 10px 0;
}
.leftSidebar p,
.leftSidebar h3,
.leftSidebar h4 {
  color: #2980b9;
}
.leftSidebar h3,
.leftSidebar h4 {
  margin: 0;
  font-size: 22px;
}
.leftSidebar h4 {
  margin-top: 30px;
}
.leftSidebar .hashTag {
  font-size: 28px;
  font-weight: bold;
}
/* Upper Content */
.topContent {
  width: 80%;
  background: white;
  margin: 20px 10%;
  float: left;
  margin-top: 50px;
}
.topContent .mainContent {
  width: 70%;
  float: left;
  padding: 3%;
}
.topContent .mainContent h3 {
  margin: 30px 0 0;
}
.topContent .mainContent a {
  color: #2980b9;
  text-decoration: none;
  font-weight: normal;
}
.topContent .mainContent a:hover {
  text-decoration: underline;
}
.topContent .mainContent li {
  font-size: 18px;
  color: #444444;
}
.topContent .mainContent .articleTitle {
  color: #b62537;
}
.topContent .mainContent .articleImage {
  width: 20%;
  height: 200px;
  display: inline-block;
  float: left;
  margin: 5px 10px 0 0;
}
.topContent .mainContent .articleText {
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  float: left;
  width: 75%;
  margin-top: 0;
}
.topContent .mainContent .bannerImage {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.topContent .mainContent .bannerImage img {
  max-height: 350px;
}
.topContent .mainContent .linkList {
  font-size: 18px;
  color: #444444;
  display: block;
}
/* Lower Content */
.bottomContent {
  width: 80%;
  background: white;
  margin: 20px 10%;
  float: left;
  text-align: center;
}
.bottomContent .bottomContentText {
  max-width: 700px;
  margin: 30px auto;
}
.bottomContent .relatedLogo {
  max-width: 200px;
  display: inline-block;
  padding: 20px 5%;
  margin: 0 0 40px 0;
  vertical-align: top;
}
.bottomContent .relatedLogo img {
  max-height: 100px;
}
/* Footer */
.footer {
  text-align: center;
  width: 100%;
}
.footer p {
  font-size: 12px;
}
.footer a {
  font-weight: normal;
  font-size: 18px;
}
/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
