/* General Styling */

body {
    .defaultText;
    background-image: url("../images/background.jpg");
    background-size: 100%;
}

h1,
h3 {
    color: @gray;
}

h1 {
    margin-top: 0;
    font-size: 20px;
}

h2 {
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 20px;
}

p {
    .bodyText;
}

a {
    .defaultLink;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.leftSidebar > div,
.mainContent > div {
    padding: 10px;
}

.borderBottom {
    border-bottom: 1px solid @lightGray;
}