/* Header */

.header {
    width: 100%;
    margin-top: -16px;
    a {
        .navText;
    }
    ul {
        list-style: none;
        background: @red;
        margin: 0;
        padding: 0 0 0 50px;
    }
    li {
        display: inline-block;
        a {
            display: block;
            padding: 22px 15px 21px;
            margin-right: -8px;
        }
        &:hover > a {
            .navBackgroundAndBorder;
            text-decoration: none;
        }
    }
    .dropdown {
        position: relative;
    }
    .dropdown ul {
        display: none;
        position: absolute;
        top: @navHeight;
        left: 0;
        background: @darkBlue;
        width: 200px;
        padding: 0;
        li {
            width: 160px;
            margin: 5px 25px 0px 15px;
        }
        li a {
            padding: 5px 20px 5px 0px;
            margin-right: 0px;
            width: 100%;
        }
        li:hover {
            .navBackgroundAndBorder(@orange,
            none);
        }
        li:hover > a {
            .navBackgroundAndBorder(transparent,
            none);
        }
    }
    .selected a {
        .navBackgroundAndBorder;
    }
    .dropdown:hover ul {
        display: block;
    }
}