/* Left Sidebar */

.leftSidebar {
    width: 20%;
    float: left;
    padding: 3% 0 3% 3%;
    .logo {
        width: 90%;
        height: 150px;
    }
    .socialMediaIcon {
        width: 70px;
        height: 70px;
        display: inline-block;
        padding: 30px 15px 10px 0;
    }
    p,
    h3,
    h4 {
        .sidebarText;
    }
    h3,
    h4 {
        margin: 0;
        font-size: 22px;
    }
    h4 {
        margin-top: 30px;
    }
    .hashTag {
        font-size: 28px;
        font-weight: bold;
    }
}
