/* Lower Content */

.bottomContent {
    .contentStyling;
    text-align: center;
    .bottomContentText {
        max-width: 700px;
        margin: 30px auto;
    }
    .relatedLogo {
        max-width: 200px;
        display: inline-block;
        padding: 20px 5%;
        margin: 0 0 40px 0;
        vertical-align: top;
        img {
            max-height: 100px;

        }
    }
}