/* Variables */

@red: #B62537;
@lightBlue: #BBDEFC;
@mediumLightBlue: #3399FF;
@mediumDarkBlue: #2980B9;
@darkBlue: #3D4751;
@orange: #E64D3C;
@gray: #444;
@lightGray: #DDD;
@navText: #FFF;
@navHeight: 60px;

/* Mixins */

.defaultText {
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}

.bodyText (@fontSize: 18px; @textColor: @gray) {
    font-size: @fontSize;
    color: @textColor;
}

.sidebarText {
    color: @mediumDarkBlue;
}

.defaultLink (@textColor: @lightBlue; @fontWeight: bold; @textOnHover: underline) {
    color: @textColor;
    text-decoration: none;
    font-weight: @fontWeight;
    &:hover {
        text-decoration: @textOnHover;
    }
}

.navText {
    color: @navText;
    text-transform: uppercase;
    font-weight: bold;
}

.navBackgroundAndBorder (@background: @darkBlue; @borderBottom: 2px solid @mediumLightBlue) {
    background: @background;
    border-bottom: @borderBottom;
}

.contentStyling {
    width: 80%;
    background: white;
    margin: 20px 10%;
    float: left;
}


@import "general";
@import "header";
@import "leftSidebar";
@import "upperContent";
@import "lowerContent";
@import "footer";




/* Clearfix */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
