/* Upper Content */

.topContent {
    .contentStyling;
    margin-top: 50px;
    .mainContent {
        width: 70%;
        float: left;
        padding: 3%;
        h3 {
            margin: 30px 0 0;
        }
        a {
            .defaultLink(@mediumDarkBlue, normal);
        }
        li {
            .bodyText;
        }
        .articleTitle {
            color: @red;
        }
        .articleImage {
            width: 20%;
            height: 200px;
            display: inline-block;
            float: left;
            margin: 5px 10px 0 0;
        }
        .articleText {
            .defaultText;
            float: left;
            width: 75%;
            margin-top: 0;
        }
        .bannerImage {
            width: 100%;
            text-align: center;
            margin-top: 30px;
            img {
                max-height: 350px;
            }
        }
        
        .linkList {
            .bodyText;
            display: block;
        }
    }
}